<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
		<httpProtocol>
			<customHeaders>
				<add name = "X-UA-Compatible" value = "chrome=1" />
			</customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>