// Variable font
@font-face {
  font-family: "Honeymoon Variable";
  src: url("common/fonts/ABCHoneymoonVariableEdu-Regular.woff2") format("woff2-variations"),
       url("common/fonts/ABCHoneymoonVariableEdu-Regular.woff") format("woff-variations");
}
// Fallback static font
@font-face {
  font-family: "Honeymoon";
  font-weight: normal;
  src: url("common/fonts/ABCHoneymoonEdu-Regular.woff2") format("woff2"),
       url("common/fonts/ABCHoneymoonEdu-Regular.woff") format("woff");
}
/*
body {
  font-family: "Honeymoon Variable", "Honeymoon", sans-serif;
}
*/
body {
	color: #640000; /*#F2DDCC*/
	background: linear-gradient(#E66465, #9198E5); /*#667FFF;*/ /*#D6001C;*/ /*#586069;*/ /*rgb(235,50,50);*/ /*rgba(54, 180, 54, 1);*/
	text-align: center;
	text-decoration: none;
	font-family: Source Sans Pro, Source Han Sans JP, Source Han Sans TW, Source Sans, Noto Sans, Source Serif Pro, Source Han Serif JP, Source Han Serif TW, Source Serif, Noto Serif, Times New Roman, Arial, Courier New, Brush Script MT;
	font-variant: normal;
	font-size: 100%;
	font-weight: 400;
}
img {
	border:none;
}
::-o-selection	{
	color: #DDDDFF;
	background: #FD3E4D;
}
::-moz-selection {
	color: #DDDDFF;
	background: #FD3E4D;
}
::-webkit-selection {
	color: #DDDDFF;
	background: #FD3E4D;
}
#h-caps-red {
	color: #C20C0C;
	font-size: 2em;
	font-variant: small-caps;
}
#copyright-white {
	font-variant: normal;
	font-size: 1.8em;
	color: white;
}
#copyright-black {
	font-variant: normal;
	font-size: 1.8em;
	color: black;
}
#home-black {
	font-size: 3em;
	font-weight: 700;
	color: black;
	text-shadow: 0.3em 0.3em 0.3em #FF0000;	
}
#home-white {
	font-size: 3em;
	font-weight: 700;
	color: white;
	text-shadow: 0.3em 0.3em 0.3em #FFFF00;	
}
#poem-stress {
	color: #FFFFFF;
	background: #4B9EFF;
	text-align: center;
	text-decoration: none;
	font-family: Source Han Serif CN, Source Han Serif JP, Source Han Serif TW, Source Serif Pro, Source Serif, Noto Serif, Source Sans Pro, Source Sans, Noto Sans, Times New Roman, Arial, Georgia;
	font-size: 200%;
}
#div-center {
	margin-right: auto;
	margin-left: auto;
}
