body {
	color: #640000;
	background: #586069; /*rgb(235,50,50);*/ /*rgba(54, 180, 54, 1);*/
	text-align: center;
	text-decoration: none;
	font-family: Source Sans Pro, Source Han Sans JP, Source Han Sans TW, Source Han Sans CN, Source Sans, Noto Sans, Source Serif Pro, Source Han Serif JP, Source Han Serif TW, Source Han Serif CN, Source Serif, Noto Serif, Times New Roman, Arial, Yu Mincho, MS Pmincho, SimSun, MS Mincho, Georgia;
	font-variant: normal;
	font-size: 100%;
	font-weight: 400;
}
img {
	border:none;
}
::-o-selection	{
	color: #DDDDFF;
	background: #FD3E4D;
}
::-moz-selection {
	color: #DDDDFF;
	background: #FD3E4D;
}
::-webkit-selection {
	color: #DDDDFF;
	background: #FD3E4D;
}
#h-caps-red {
	color: #C20C0C;
	font-size: 2em;
	font-variant: small-caps;
}
#copyright-white {
	font-variant: normal;
	font-size: 1.8em;
	color: white;
}
#copyright-black {
	font-variant: normal;
	font-size: 1.8em;
	color: black;
}
#home-black {
	font-size: 3em;
	font-weight: 700;
	color: black;
	text-shadow: 0.3em 0.3em 0.3em #FF0000;	
}
#home-white {
	font-size: 3em;
	font-weight: 700;
	color: white;
	text-shadow: 0.3em 0.3em 0.3em #FFFF00;	
}
#poem-stress {
	color: #FFFFFF;
	background: #4B9EFF;
	text-align: center;
	text-decoration: none;
	font-family: Source Han Serif CN, Source Han Serif JP, Source Serif, Noto Serif, Source Sans, Noto Sans, SimSun, Source Sans Pro, Source Serif Pro, Times New Roman, Arial, Yu Mincho, MS Pmincho, Georgia;
	font-size: 200%;
}
#div-center {
	margin-right: auto;
	margin-left: auto;
}
